html, body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;;
}

nav.navbar { 
}

button.navbar-button {
  
}

#home-btn {
  color: white;
  text-decoration: none;
}

.inlineEdit {
  display: inline;
}